.dishes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border-radius: 30px;
}

.main-reviews {
    margin-bottom: 0 !important;
}

.container-review{
    width: 30%;
    max-height: 1000px;
    background-color: white;
}

.container-review>h1{
}

.area-text-review{
    min-height: 300px;
    max-width: 1000px;
    overflow-y: scroll;
    border-top: 1px solid black;
}

.user_details{
    height: fit-content;
}

.bg-success{
    background-color: white !important;
    border-bottom: 1px solid black !important;
    border-radius: 0;
}

.card{
    border: none;
}

.card-body{
    width: 100%;
    height: fit-content;
    padding: 0;
}

.name-user, .date-up{
    margin: 5px 0 0 0;
}

.name-user{
    margin-right: 20px;
}

.row{
    flex-direction: row;
    width: 100%;
}

.area-dish-image{
    width: 100%;
}

.detail-food{
    width: 40%;
    background-color: white;
}

.img-fluid,.area-dish-image{
    width: 100%;
}

.col-sm-11{
    padding: 0;
    width: 90%;
}

.col-sm-1{
     padding: 0;
    width: 10%;
}

.no-comment{
    margin: 30% 0px;
    width: 100%;
    text-align: center;
}
